@charset "utf-8";

// Font
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size:   11pt !default;
$font-weight: 400 !default;
$font-line-height: 1.5 !default;
$font-display: fallback !default;

// Basics
$separator-color: #e7ecf0 !default;
$spacing: 30px !default;
$header-height: 65px !default;
$text-default: #353a3f !default;
$text-highlight: #ff2d20 !default;
$text-hover: #ff6640 !default;
$transition-default: 120ms linear !default;

// Nav
$nav-bg: #fff !default;
$nav-border: #d7d7da !default;
$nav-text-light: #fff !default;
$nav-width: 420px !default;
$nav-height: 50px !default;
$nav-text-default: #353a3f !default;
$nav-text-highlight: #ff2d20 !default;

// Constants
$column-count: 12 !default;
$box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.08) !default;

// Media
$on-medium: 600px !default;
$on-large: 800px !default;

@import
  "basic/main",
  "basic/page",
  "basic/nav",
  "basic/api",
  "basic/code",
  "basic/util"
;
