.nav {
  position: fixed;
  width: 100vw;
  background-color: $nav-bg;
  border-right: 1px solid $separator-color;

  @media screen and (min-width: $on-large) {
    position: relative;
    width: $nav-width;
    height: 100vh;
  }

  .header {
    height: $nav-height;
    padding-left: $spacing * 0.75;
    border-bottom: 1px solid $separator-color;
    line-height: $nav-height;

    @media screen and (min-width: $on-large) {
      height: auto;
      margin-top: $spacing / 2;
      border-bottom: none;
    }

    .icon {
      font-size: 12pt;
      color: $text-highlight;

      @media screen and (min-width: $on-large) {
        font-size: 16pt;
      }
    }

    .title {
      color: $text-highlight;
      font-weight: 600;
      font-size: 16pt;
      vertical-align: middle;

      @media screen and (min-width: $on-large) {
        font-size: 18pt;
      }
    }

    .version {
      color: $text-highlight;
      font-weight: 500;
      font-size: 9pt;
      vertical-align: baseline;

      @media screen and (min-width: $on-large) {
        font-size: 11pt;
      }
    }
  }

  .toggle {
    display: inline;
    position: fixed;
    right: 0px;
    margin-right: $spacing;
    font-size: 14pt;
    transition: color $transition-default;

    @media screen and (min-width: $on-large) {
      display: none;
    }

    &:hover {
      color: $text-hover;
    }
  }

  .content {
    display: none;
    padding: 0 $spacing;
    border-bottom: 1px solid $separator-color;
    font-weight: 500;
    font-size: 13pt;

    @media screen and (min-width: $on-large) {
      display: block;
      padding: $spacing $spacing;
      margin-top: 2 * $spacing;
      margin-left: $spacing;
      border-bottom: none;
      font-size: 11pt;
    }

    &.visible {
      display: block;
    }

    li {
      margin-top: $spacing / 4;
      color: $nav-text-default;
    }

    .group-item {
      margin-left: 8px;
    }

    a {
      color: $nav-text-default;
      display: block;

      @media screen and (min-width: $on-large) {
        display: inline;
      }

      &.active {
        color: $nav-text-highlight;
      }

      &:hover {
        color: $nav-text-highlight;
      }
    }
  }
}
