.page {

  margin-top: $nav-height;
  overflow-y: auto;
  height: calc(100vh - #{$nav-height});
  width: 100vw;

  @media screen and (min-width: $on-large) {
    margin-top: 0;
    height: 100vh;
  }

  .breadcrumbs {
    width: 100%;
    border-bottom: 1px solid $separator-color;
    margin-bottom: 2 * $spacing;

    * {
      display: inline;
      margin-right: 8px;
    }
  }

  .content {
    margin-bottom: $spacing;
    margin-top: $spacing;
    margin-left: $spacing;
    margin-right: $spacing;

    @media screen and (min-width: $on-large) {
      margin-left: 2 * $spacing;
      margin-right: 2 * $spacing;
      max-width: 800px;
    }
  }

  .link-list {

    a {
      font-size: $font-size;
      color: $text-default;
      transition: color $transition-default;

      &:hover {
        color: $text-highlight;
      }
    }
  }

  h1 {
    margin-top: 2 * $spacing;
    word-wrap: break-word;
  }

  h2 {
    margin-top: 1.5 * $spacing;
    border-bottom: 1px solid $separator-color;
    word-wrap: break-word;
  }

  h3 {
    margin-top: $spacing;
    word-wrap: break-word;
  }
}
